.project-wrapper {
    margin-top: 20px;
}

@media @visible-xs, @visible-sm {
    .project-wrapper {
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 30px 15px;
        background-color: #fff;
        border-radius: 4px;
    }

    .project-title,
    .project-subtitle {
        margin-top: 0;
    }
}

.project-url {
    padding: 6px;
}

.project-intro {
    min-height: 20px;
    padding: 6px;
    margin-bottom: 32px;
    border-radius: 4px;
}

.project-screens-wrap {
    margin: 0 auto;
}

.project-screens-list {
    margin-left: 0;
    padding-left: 0;
    list-style: none;

    li {
        margin-bottom: 40px;
        text-align: left;

        img {
            // margin: 0 auto;
            .box-shadow(0 1px 6px rgba(0, 0, 0, 0.5));
        }
    }
}

.project-subtitle {
    color: @brand-primary;
}

.project-tech {
    padding-left: 32px;
}

.project-copyright {
    padding-left: 16px;
}

.project-features {
    padding-left: 32px;

    li {
        margin-bottom: 6px;
    }
}


